* {
  color: white;
}

nav {
  background-color: #E83F44;
}

img {
  width: 80px;
  /* width: 10%; */
}

.title {
  font-style: italic;
}

sign-in,
sign-up {
  margin: 5px;
}

div.container-fluid {
  background-color: rgba(255, 255, 255, 0.5)
}

.d-flex div {
  flex: 1;
}

.animate__animated {
  animation-duration: 3s;
}

.container h2:after {
  display: block;
  height: 2px;
  background-color: #E83F44;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}
