<!-- Header  -->
<nav class="container-fluid p-2">
  <div class="mx-5 d-flex align-items-center">
    <img src="../../assets/Images/ATLogoEdited.jpg">
    <h2 class="text-white mx-2 title">AnilTravels</h2>
  </div>
</nav>

<!-- Sign in and Sign up -->
<sign-in></sign-in>
<sign-up></sign-up>

<!-- About AnilTravels  -->

<div class="container-fluid">
  <div class="container">
    <h2 class="text-center pt-2">
      THE NUMBERS ARE GROWING!
    </h2>

    <div class="d-flex justify content-around py-4">
      <div class="text-center">
        <div>
          <div class="">CUSTOMERS</div>
          <div class="fs-1">36 M</div>
          <div class="px-4">Anil Travels is trusted by over 36 million happy
            customers
            globally</div>
        </div>
      </div>
      <div class="text-center">
        <div>
          <div class="">OPERATORS</div>
          <div class="fs-1">3500</div>
          <div class="px-3">network of over 3500 bus operators worldwide</div>
        </div>
      </div>
      <div class="text-center">
        <div>
          <div class="">BUS TICKETS</div>
          <div class="fs-1">220+ M</div>
          <div class="px-3">Over 220 million trips booked using AnilTravels</div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer class="px-0"></app-footer>
