


<div class="container-fluid">
  <div class="empty d-flex">
    <div class="d-flex justify-content-center align-items-center">
      <blockquote class="mx-lg-5 w-75">
        AnilTravels is the world's largest online bus ticket booking service trusted by
        over 25 million happy customers globally. AnilTravels offers bus ticket booking through its website, iOS and
        Android mobile apps for all major routes.
      </blockquote>
    </div>
    <div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-lg btn-info" (click)="checkDemo()">PLAN TRIP</button>
  </div>
  </div>
  <div class="container">
    <h2 class="text-center pt-2">
      THE NUMBERS ARE GROWING!
    </h2>

    <div class="d-flex justify content-around py-4">
      <div class="text-center">
        <div>
          <div class="">CUSTOMERS</div>
          <div class="fs-1">36 M</div>
          <div class="px-4">Anil Travels is trusted by over 36 million happy
            customers
            globally</div>
        </div>
      </div>
      <div class="text-center">
        <div>
          <div class="">OPERATORS</div>
          <div class="fs-1">3500</div>
          <div class="px-3">Network of over 3500 bus operators worldwide</div>
        </div>
      </div>
      <div class="text-center">
        <div>
          <div class="">BUS TICKETS</div>
          <div class="fs-1">220+ M</div>
          <div class="px-3">Over 220 million trips booked using AnilTravels</div>
        </div>
      </div>
    </div>
  </div>
</div>